{% macro list_images(name, url, alt, urlfull, datatag) -%}
    <div class="filtrable" data-tag="{{datatag}}">
        <span class="popup-on-click">
            <span class="d-none d-md-flex" data-bs-target="#{{name}}" data-bs-toggle="modal">
                <div class="zoom-image"><img src="{{url}}" alt="{{alt}}"></div>
            </span>
            <span class="d-flex d-md-none">
                <div class=""><img src="{{url}}" alt="{{alt}}"></div>
            </span>
        </span>
    


        <div class="modal fade" id="{{name}}" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-body mx-auto p-0">
                        <img loading="lazy" src="{{urlfull}}" class="maxsize" alt="{{alt}}">
                    </div>
                </div>
            </div>
        </div>
    </div>

{%- endmacro %}