body{
    margin: 0;
    background-color: rgb(46, 48, 48);
    color: azure;
    font: "Georgia", sans-serif;
}

footer{
    padding: 40px;
}

h1{
    color: rgb(117, 65, 117);
    padding-top: 40px;
    padding-left: 40px;
}

p{
    padding: 80px;
}

.bouton{
    border-color: purple;
    color: azure;
}

.bouton:hover{
    border-color: rgb(117, 65, 117);
    background-color: rgb(117, 65, 117);
}

.btn.bouton:active{
    border-color: rgb(117, 65, 117);
    background-color: purple;
}

.gallery{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
}

.popup-on-click:hover {
    cursor: pointer;

}

img {
    object-fit: cover;
  }

.zoom-image {    
    width: 400px;
    height: 470px;
    overflow:hidden
}
.zoom-image img {
    width:100%;height:auto
}
.zoom-image img:hover{
    width:100%;
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
    -webkit-transition:0.5s ease-in-out;
    transition:0.5s ease-in-out
}

.maxsize{
    width: 100%;
    height: 100%;
}
